node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDEs and Editors
# JetBrains IDEs (WebStorm, IntelliJ IDEA, etc.)
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Visual Studio Code
.vscode/
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

# Vim
*.swp
*.swo
*~
.*.sw[a-p]

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# Eclipse
.project
.classpath
.settings/
.buildpath

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Atom
.atom/
