<section id="aboutSectionId" class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container has-text-grey">

      <div class="columns">
        <div class="column is-half">
          <h1 class="title">Hi, I'm Jesse.</h1>
          <p>I'm a lover of technology, video games, nature, and oxford commas. I use my skills as a fullstack developer
            to create responsive webapps with secure, effecient backends.</p>
        </div>
      </div>
      
      <app-links></app-links>

    </div>
  </div>
</section>