<section id="aboutSectionId" class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container has-text-grey">
      <h1 class="title">Hi, I'm Jesse.</h1>
      <p>I'm a lover of technology, video games, nature, and oxford commas. I use my skills as a fullstack developer
        to create responsive webapps with secure, effecient backends.</p>

      <span class="icon has-text-info">
        <i class="fab fa-linkedin"></i>
      </span>
      <span class="icon has-text-info">
        <i class="fab fa-github"></i>
      </span>
      <span class="icon has-text-info">
        <i class="far fa-envelope"></i>
      </span>


    </div>
  </div>
</section>