<section id="projectsSectionId" class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">projects</h1>


      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-4" *ngFor="let user of users | async">
            <div class="card">
              <a routerLink="/users/{{ user.login }}">
                <div class="card-content">
                  {{ user.name}}
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</section>